@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Marcellus');

* {
  box-sizing: border-box;
}

.section {
  padding-right: 8vw;
  padding-top: 10vh;
  padding-bottom: 20vh;
  padding-left: 8vw;
  /* text-align: center; */
}
/* .section h2 {
  text-align: left;
} */

/* Create two equal columns that floats next to each other */
.column_1 {
  float: left;
  width: 60%;
  padding: 10px;
  margin-top: 12vh;
  text-align: justify;
  position: relative;
  /* height: 300px; Should be removed. Only for demonstration */
  /* justify-content: center; */
}
.column_2 {
  float: left;
  width: 35%;
  padding: 10px;
  /* height: 300px; Should be removed. Only for demonstration */
  justify-content: center;
}

.row {
  /* align-items: center; */
  display: flex;
  flex-direction: row;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column_1 {
    width: 100%;
    padding-left: 8vw;
    margin-top: 0vh;
  }
  .column_2 {
    width: 100vw;
  }

  .row {
    flex-direction: column-reverse;
  }
}

.section_image {
  padding-left: 0.6vw;
  height: 100%;
  object-fit: contain;
  /* width: 100%; */
  width: 35vw;
}

.section_title {
  display: inline-block;
  position: relative;
  font-family: Marcellus;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  color: #fcc907;
  top: 12vh;
  /* float: left; */
  /* padding-left: 10vw; */
  /* text-align: left; */
  /* padding-top: 10vh; */
}

.section_content {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 135%;
  /* or 32px */

  text-align: justify;

  color: #ffffff;
}

.section_button {
  display: flex;
  position: absolute;
  left: 2vw;
  width: 250px;
  bottom: -10vh;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  /* line-height: 33px; */
}
.section_button a {
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .column_2 {
    padding-left: 0;
  }
  .section {
    /* display: flex; */
    padding-bottom: 10vh;
    padding-left: 0;
    text-align: center;
    /* align-items: center; */
  }

  .section_title {
    top: 0;
    padding-left: 0;
    display: block;
    /* position: default; */
    text-align: center;
    padding-left: 8vw;
  }
  .section_button {
    padding-top: 5vh;
    position: relative;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
    bottom: 0vh;
  }

  .section_image {
    padding-top: 5vh;
    width: 100vw;
    padding-left: 0;
  }
}

