.section {
  padding-top: clamp(220px, 26vh, 100px);
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  /* position: absolute; */
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  /* padding-bottom: 30vh; */
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90vw;
    /* min-width: 200px; */
    /* justify-content: center;     */
    align-items: center;
  }
}
/* Full-width input fields */
input, select, option{
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
}

.form_class input,
.form-class select,
.form-class option {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.form_class select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.form_class button {
  text-align: center !important;
  /* justify-content: center;
  align-items: center; */
  background-color: #0eb7f4;
  /* position: absolute; */
  color: white;
  padding: 14px 20px;
  /* margin: 8px 0; */
  border: none;
  /* cursor: pointer; */
  /* width: 100%; */
  opacity: 1;
  font-size: 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-radius: 10px;
  width: 50%;
}

/* .form_group_2_div {
  display: flexbox;
  width: 100%;
  text-align: right;
}
.form_group_2_div input,.form_group_2_div select, .form_group_2_div option,.form_group_2_div label {
  width: 40%;
  text-align: center;
}
.form_group_2_div label{
  text-align: right;
} */

.button_div {
  display: flex;
  width: 100%;
  justify-content: center;
}
/* select {
  width: 18%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
} */

/* input[type=phone] {
  width: 81%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
} */
.form_class input[type='text']:focus,
.form_class input[type='password']:focus,
.form_class input[type='phone']:focus,
.form_class select:focus {
  background-color: #ddd;
  outline: none;
}
/* 
input[type=text]:focus, input[type=password]:focus, input[type=phone]:focus, select:focus {
  background-color: #ddd;
  outline: none;
} */



/* Set a style for all buttons */
/* button {
  background-color: #0eb7f4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
	font-size:16px;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
	border-radius:10px;
} */

/* button:hover {
  opacity:1;
} */


/* Change styles for signup button on extra small screens */
/* @media screen and (max-width: 300px) {
  .signupbtn {
     width: 100%;
  }
} */