.auth_section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #1d033e;
    min-height: 100vh;
}
.authenticateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
}