.parent_wrapper {

  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.position {
  margin-top: 10px;
}
.team-card {
  /* width: 33vw; */
  /* width: calc(100px +10vw); */
  width: 220px;
  /* mix-blend-mode: multiply; merges image with the page background */

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 270px;
  transition: 0.3s;
  border-radius: 5px;
  /* flex: 1 0 500px; */
  flex: 2 2 2;
  box-sizing: border-box;
  /* margin: 1rem 0.25em; */
  margin: 20px;
  /* 5px rounded corners */
  color:#FCC907;
  background: #27094B;
  font-family: Nunito Sans;
  text-align: center;
  overflow-x: hidden;
}
.team-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.4s ease;
}
.team-card h3 {
  font-family: Marcellus;
  font-size: 1.0em;
}
/* Add rounded corners to the top left and the top right corner of the image */
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  text-align: center;
  background: white;
}
.cardImg {
  object-fit: cover;
  position: relative;
  height: 180px;
  width: 100%;
  overflow: hidden;
  transition: all .5s ease;
  background-color: #27094B;
}
.cardTitle {
  margin: 0 auto;
  color: #fff;
  font-family: Marcellus;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.cardImg img {}
.cardImg img:hover {
  transform: scale(1.08);
  opacity: 0.8;
}
@media screen and (max-width: 700px) {
  .team-card {
    /* max-width: calc(45% - 1em); */
    width: 60vw;
  }
  .parent_wrapper{
    width: 100%;
  }
}
