.landing_page {
  background-color: #1b083d;
  overflow-x: hidden;
}
body {
  
  max-width: 1280px;
  margin: 0 auto !important;
  float: none !important;
}
.login_button{
  display: flex;
  justify-content: center;

}
.about_sep {
  position: absolute;
  left: 250px;
  top: -57px; 
}
.event_sep {
  position: absolute;
  left: 220px;
  top: -57px; 
}
.line_sep {
}
@media screen and (max-width: 786px) {

  .login_button {
    width: 100vw;
  }
  .login_button button {
    width: 100vw;
  }
  .about_sep {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  .event_sep {
    position: relative;
    display: flex;
    margin: 0 auto;
  }


}