.landing_page {
  background-color: #1b083d;
}

.login_button{
  display: flex;
  justify-content: center;

}
@media screen and (max-width: 600px) {

  .login_button {
    width: 100vw;
  }
  .login_button button {
    width: 100vw;
  }



}