.landing_page {
  background-color: #1b083d;
  overflow-x: hidden;
}
body {
  background-color: #1b083d;
  max-width: 1280px;
  margin: 0 auto !important;
  float: none !important;
}
.login_button{
  display: flex;
  justify-content: center;

}
.about_sep {
  position: absolute;
  left: 250px;
  top: -57px; 
}
.event_sep {
  position: absolute;
  left: 200px;
  top: -57px; 
}
.line_sep1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin-left: 260px;
  margin-top: 80px;
}
.line_sep {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin-left: 260px;
  margin-top: -200px;
}
.section_for_mobile {
  display: none;
}
.texture_bg {
  /* margin: ; */
  height: 50vh;
  /* mix-blend-mode: screen; */
  background: linear-gradient(180deg, #14052C 0%, #1D033E 100%);
}
@media screen and (max-width: 786px) {

  .login_button {
    width: 100vw;
  }
  .login_button button {
    width: 100vw;
  }
  .section_for_web {
    display: none;
  }
  .section_for_mobile {
    display: block;
  }
  .texture_bg {
    /* margin: ; */
    height: 10vh;
    /* mix-blend-mode: screen; */
    background: linear-gradient(180deg, #14052C 0%, #1D033E 100%);
  }
  .line_sep {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin-left:100px;
    margin-top: 80px;
  }
  .line_sep1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin-left:100px;
  }
  .about_sep {
    position: relative;
    display: none;
    margin: 0 auto;
  }
  .event_sep {
    position: relative;
    display: none;
    margin: 0 auto;
  }
 .Section_section_title__Zi2Ev {
   display: none;
 }
}