.wrapper {
  background-color: #1b083d;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.sidebar {
  height: 100%;
  width: calc(180px + 10vw);
  /* min-width: 200px; */
  position: fixed;
  top: 20;
  left: 200px;
  background: transparent;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: left;
  line-height: 1.5;
  font-size: 1em;
  border-right: 2px solid #FCC907;
  /* padding-top: ; */
  scrollbar-color: #FCC907;
}
.sidebar h1 {
  font-size: 1.2em;
  font-family: Nunito Sans;
}
.sidebar a {
  padding: 15px;
  text-decoration: none;
  color: #fff;
  font-family: Nunito Sans;
  display: block;
  list-style: none;
}
.sidebar .target {
  color: #FCC907;
}
.sidebar a:hover {
  color: #FCC907;
}
.main {
  margin-left: calc(210px + 10vw); /* Same as the width of the sidenav */
  font-size: 1.2em;
  padding: 0px 10px;
  list-style: none;
}
#menu-item {
  font-size: 1em;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
} */

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    list-style: none;
    border-right: none;
    border-bottom: 2px solid #FCC907;
    display: none;
  }

  .sidebar a {
    text-align: center;
    float: none;
  }

  div.main {
    margin-left: 0;
  }
}
