.wrapper {
  background-color: #1b083d;
  /* height: 100vh; */
  overflow: hidden;
}
.sponsors-container {
  margin: auto;
  padding-top: 40px;
}
.current-sponsors {
  padding: 20px;
  margin-top: 20px;
}
.sponsorcardImg {
  /* margin-top: 50px; */
  height: 200px;
  width: 200px;
}

.previous-sponsors {
  width: 80vw;
  height: 60vh;
  background-color: #27094b;
  display: flex;
  padding: 20px;
  padding-left: 20vw;
  justify-content: space-evenly;
  flex-direction: row;
}
.previous-sponsors img {
  width: 100px;
}
.sponsor-card .cardTitle {
  color: #fff;
  font-size: 1.2em;
}
.sponsor-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.4s ease;
}
.sponsor-card h3 {
  font-family: Marcellus;
  font-size: 1.5em;
  color: #fcc907;
}
.sponsors-container img {
  margin: auto;
  display: flex;
  padding: 40px;
  width: 100%;
  background: #1b083d;
  height: 200px;
}
.separator-1 {
  display: flex;
  align-items: center;
}

.separator-1 .line_1,
.separator-1 .line_2 {
  height: 0.5px;
  margin-top: 30px;
  flex: 2;
  margin: 40px;
  /* margin-left: 10vw;
  margin-right: 10vw; */
  background-color: #fcc907;
}

.separator-1 .line_1 {
  /* padding-top: 10vw; */
  /* margin-bottom: 0.1px; */
  margin-left: 10vw;
  margin-top: 50px;
}
.separator-1 .line_2 {
  margin-right: 10vw;
  margin-top: 50px;
}

.cards-sponsor {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  /* margin: 30px; */
  /* padding-left: 30px; */
}
@media only screen and (max-width: 1200px) {
  .cards-sponsor {
    flex-direction: column;
  }
  .separator-1{
    display: flex;
    justify-content: center;
  }
  .separator-1 h2 {
    font-size: 1.5em !important;
    text-align: center;
    display: block;
  }
  .separator-1 .line_1{
    display: none;
  }
  .separator-1 .line_2{
    display: none;
  }
  .sponsors-container img{
    padding: 0;
   
  }
  .current-sponsors{
    padding: 5vw;
  }
  .sponsors-container{
    padding-top: 0;
  }
  .sponsors_footer {
    margin-top: 0 !important;

  }
}

.sponsor-card {
  width: 300px;
  height: 300px;
  box-shadow: 0px 24px 69px 0px #0000002e;
  background: #27094b;
  text-align: center;
  /* padding: 20px; */
  margin: 30px;
}
.separator-1 h2 {
  font-family: Marcellus;
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  color: #fcc907;
  line-height: 20px;
  letter-spacing: 0em;
  margin-top: 20px;
}

.sponsors_footer {
  margin-top: min(20vh, 100px);
}

.sponsor_card_img {
  /* right: 10vw; */
  width: 100%;
  height: 200px;
  background: #170231;
  /* padding: 20px; */
}

/* .sponsor_background {
  width: 120%;
  height: 200px;
  background: #170231;
} */
