.button {
  /* text-decoration: none; */
  color: black;
  background: #fcc907;
  /* padding: 15px 40px; */
  /* border-radius: 4px; */
  /* font-weight: normal; */
  /* text-transform: uppercase; */
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-family: Marcellus;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-left: 20px;
}

.glow_button:hover {
  /* border-color:#fcc907; */
  box-shadow: 0px 0px 24px 0px rgba(255, 212, 48, 0.7);
}
