.footer-container {
  background-color: #170231;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: Nunito Sans;
}

/* Social Icons */
.social-icon-link {
  color: #fcc907;
  font-size: 40px;
}
.facebook {
  padding: 20px;
  margin: 20px;
}
.instagram {
  padding: 20px;
  margin: 20px;
}
.youtube {
  padding: 20px;
  margin: 20px;
}
.linkedin {
  padding: 20px;
  margin: 20px;
}

.footer {
  background-color: #170231;
  width: 100%;
  display: flex;
  align-items: top;
}

.footer section {
  padding: 1rem 2rem;
  width: 100%;
  vertical-align: top;
}
.footer section1 {
  padding: 4rem 2rem 1rem;
  width: 100%;
  vertical-align: top;
}
.footer section2 {
  padding: 5rem 2rem 1rem;
  width: 100%;
  vertical-align: center;
}
.footer section3 {
  padding: 0rem 2rem 1rem;
  width: 100%;
  vertical-align: center;
}
.footer section5 {
  padding: 8rem 0rem 1rem 4rem;
  width: 100%;
  vertical-align: center;
}

.footer h3 {
  color: #fcc907;
}

.sub-footer {
  background-color: #170231;
  text-align: center;
  color: #fcc907;
  padding: 1rem 0;
  align-content: center;
}

.tab {
  display: inline-block;
  margin-left: 400px;
}

.image {
  height: 270px;
  width: 480px;
}

.powered {
  height: 150px;
  width: 150px;
}
