.footer-container {
  background-color: #170231;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: Nunito Sans;
  overflow-x: hidden;
  z-index: 999;
}

/* Social Icons */
.social-icon-link {
  color: #fff;
  font-size: 35px;
}
a:hover {
  color: #fcc907;
}
.facebook {
  padding: 10px;
  margin: 10px;
}
.instagram {
  padding: 10px;
  margin: 10px;
}
.youtube {
  padding: 10px;
  margin: 10px;
}
.linkedin {
  padding: 10px;
  margin: 10px;
}

.footer {
  background-color: #170231;
  width: 100%;
  display: flex;
  align-items: top;
}

.footer section {
  width: 100%;
  vertical-align: top;
  align-items: center;
}

.image {
  height: 400px;
  width: 533px;
}

@media screen and (max-width: 768px) {
  .footer {
    /* margin: auto; */
  }
  .footer section3 {
    display: flex;
  }
  .image {
    height: 225px;
    width: 300px;
  }

  .social-icon-link {
    color: #fff;
    font-size: 20px;
  }
  .social-media {
    margin-top: 10px;
  }
  .footer section {
    /* padding: 20px; */
  }
  .tab {
    display: inline-block;
  }
}
