.navbar {
  background: #1D033E;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  max-width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 90vw;
  max-width: 1500px;
  padding-right: 15vw;
  overflow: hidden;
}
.add-shadow {
  box-shadow: 0px 4px 25px 0px #0E001FB2;
}
.navbar-logo {
  color: rgb(243, 243, 243);
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 4px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: center;
  margin-right: -15rem;
}
.cartBtn {
  position: absolute;
  top: 25px;
  right: 160px;
  /* margin-left: 100px; */
  color: #FCC907;
  /* color: white; */
  background: transparent;
  font-size: 1.4em;
  outline: none;
  border: none;
}
.nav-item {
  height: 80px;
  margin-right: -20px;
}
.img {
  height: 80px;
  width: 100px;
  top: -3px;
  color: #020202;
  left: 20px;
  position: absolute;
}
  .img:hover {
  }
.nav-links {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  height: 100%;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-right: 60px;
}

.nav-links:hover {
  color: #FCC907;
  transition: all 0.2s ease-out;
}
.target {
  color: #FCC907;
}
.fa-bars {
  color: rgb(44, 44, 44);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.sign {
  margin-right: -30px;
  padding: 4px 20px;
}
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .img {
    height: 80px;
    width: 80px;
    top: 3px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #27094B;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .btn--medium {
    
}

  .nav-links:hover {
    color: #FCC907;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  .fa-bars {
    color: rgb(255, 255, 255);
}
  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
  .cartBtn {
    top: 23px !important;
    right: 60px;
  }
}


.empty_cart{
  color: white !important;  
}