.parent_wrapper {

  width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: calc(vw);
  /* align-items: center; */
  

}

.card {
  /* width: 33vw; */
  width: calc(100px +10vw);
  max-width: 300px;
  /* mix-blend-mode: multiply; merges image with the page background */


  /* height: 20vh; */

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* flex: 1 0 500px; */
  flex: 0 2 auto;
  box-sizing: border-box;
  /* margin: 1rem 0.25em; */
  margin: 20px;
  /* 5px rounded corners */
  color: black;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  /* background: transparent; */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  text-align: center;
  background: white;
}

@media screen and (max-width: 700px) {
  .card {
    /* max-width: calc(45% - 1em); */
    width: 60vw;
  }
  .parent_wrapper{
    width: 100%;
  }
}
