.parent_wrapper {

  /* width: 50%; */
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.sponsor-card {
  /* width: 33vw; */
  width: calc(100px +10vw);
  max-width: 350px;
  /* mix-blend-mode: multiply; merges image with the page background */

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 300px;
  transition: 0.3s;
  border-radius: 5px;
  /* flex: 1 0 500px; */
  flex: 2 2 auto;
  box-sizing: border-box;
  /* margin: 1rem 0.25em; */
  margin: 20px;
  /* 5px rounded corners */
  color:#FCC907;
  background: #27094B;
  font-family: Nunito Sans;
  text-align: center;
  overflow-x: hidden;
}
.sponsor-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.4s ease;
}
/* Add rounded corners to the top left and the top right corner of the image */
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  text-align: center;
  background: white;
}
.sponsorImg {
  position: relative;
  margin: 40px;
  border-radius: 50%;
}
.sponsorImg h2 {
  margin-top: 40px;
}
.sponsorImg img {
  position: relative;
  width: 100%;
  height: auto;
  transition: all .5s ease;
}
.sponsorImg h6 {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  font-family: Marcellus;
}
@media screen and (max-width: 700px) {
  .sponsor-card {
    /* max-width: calc(45% - 1em); */
    width: 60vw;
  }
  .parent_wrapper{
    width: 100%;
  }
}
